code
Desktop
Documents
Downloads
go
Music
Pictures
private-keys
Public
Templates
Videos
.config
.zcompdump*
.xsession-errors*
.bash_history
.Xauthority
.ICEauthority
.FreeCAD/
.PlayOnLinux/
.aws/
.bash_history
.cache/
.cinnamon/
.dbeaver-drivers/
.dbeaver4/
.dlv/
.dmrc
.docker/
.eclipse/
.esd_auth
.fehbg
.gnupg/
.histfile
.icons/
.install4j
.ipynb_checkpoints/
.ipython/
.java/
.jupyter/
.kafkatool2/
.lesshst
.links/
.local/
.mozilla/
.ngrok2/
.node-gyp/
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.pki/
.pulse-cookie
.pylint.d/
.python_history
.ssh/
.steam/
.steampath
.steampid
.swt/
.themes/
.vim/
.viminfo
.vscode-oss/
.wget-hsts
.zsh_history

